#infoprofil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-info-profil {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-username {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

.input-alamat {
  display: flex;
  padding: 12px 16px;
  width: 100%;
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

@media (max-width: 768px) {
  .back-button {
    display: none;
  }
}
@media (max-width: 430px) {
  .back-button {
    display: none;
  }
}
