#product-page {
  height: 100vh;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  height: 436px;
  width: 600px;
  border-radius: 16px;
}

.product-page-buyer-content {
  height: 436px;
  width: 600px;
}

.product-page-seller-content {
  height: 436px;
  width: 100%;
}

.card-product-description {
  height: fit;
  width: 600px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.card-product-detail {
  height: fit;
  width: 336px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.card-product-detail h5 {
  font-weight: 700;
}

.card-product-detail p {
  margin-bottom: 16px;
  font-size: 16px;
  color: #8a8a8a;
}

.card-product-detail h4 {
  font-size: 20px;
}

.card-product-description h5 {
  font-weight: 700;
  font-size: 16px;
}

.card-product-description p {
  line-height: 1.5rem;
  color: #8a8a8a;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 430px) {
  .mySwiper {
    width: 100%;
  }
  .product-page-content {
    width: 100%;
  }
  .product-page-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-product-detail {
    width: 100%;
  }
  .mySwiper .swiper-slide {
    width: 100vw !important;
  }
  .card-product-description {
    width: 100%;
  }
  .carousel-next-btn {
    display: none;
  }
  .carousel-prev-btn {
    display: none;
  }
  .custom_next {
    display: none !important;
  }
  .custom_prev {
    display: none !important;
  }
  .card-product-detail {
    margin-bottom: 24px;
  }
  .swiper-pagination {
    display: none;
  }
}

.carousel-next-btn {
  z-index: 2;
  position: relative;
  top: -340px;
  left: -20px;
}

.carousel-prev-btn {
  z-index: 2;
  position: relative;
  top: -370px;
  left: -550px;
}

.carousel-next-btn img:hover {
  cursor: pointer;
}

.carousel-prev-btn img:hover {
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #7126b5 !important;
}

.swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  border: #7126b5 solid 1px !important;
  background-color: #c4c4c4;
}

.card-detail-btn {
  align-items: center;
  width: 100%;
  height: 48px;
  background: #fff;
  color: black;
  border: 1px solid #7126b5;
  border-radius: 16px;
  margin-top: 7px;
  transition: 200ms ease-in-out;
}

.card-detail-submit-btn {
  align-items: center;
  width: 100%;
  height: 48px;
  background: #7126b5;
  color: white;
  border: 1px solid #7126b5;
  border-radius: 16px;
  margin-top: 7px;
  transition: 200ms ease-in-out;
}

.card-detail-submit-btn:hover {
  background: #fff;
  color: black;
  border: 1px solid #7126b5;
  transition: 150ms ease-in-out;
}

.card-detail-btn:hover {
  background: #7126b5;
  color: white;
  border: 1px solid #7126b5;
  transition: 150ms ease-in-out;
}

.card-content-account {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-content-account p {
  color: #8a8a8a;
  font-size: 12px;
  margin: 0;
}

.card-content-account h5 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}
