.edit-btn {
  background: #fff;
  border-radius: 16px;
  margin-top: 7px;
  transition: 200ms ease-in-out;
}

.edit-btn:hover {
  background: #7126b5;
  color: white;
  border: 1px solid #7126b5;
  transition: 150ms ease-in-out;
}

.menu-list {
  width: 100%;
  cursor: pointer;
  color: black;
  transition: 200ms ease-in-out;
}

.menu-list:hover {
  color: #7126b5 !important;
  transition: 200ms ease-in-out;
}

.menu-list:focus {
  color: #7126b5 !important;
}

.profile-skeleton .ant-skeleton-paragraph {
  margin-bottom: 0;
}

.notification-ellipse {
  background-color: #fa2c5a;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.product-seller-picture {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.ant-btn:focus {
  border-color: #7126b5 !important;
  color: #7126b5;
  outline: 0;
  /*-webkit-box-shadow: 0 0 0 2px rgba(87,168,233, .2);*/
  /*box-shadow: 0 0 0 2px rgba(87,168,233, .2);*/
}

.bottom-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(230, 230, 230);
  background-color: white !important;
  z-index: 999;
}

.bn-tab {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 430px) {
  .product-seller-picture {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
}
