#home {
  height: 100vh;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.BannerSwiper .swiper-slide img {
  object-fit: cover;
  height: 224px;
  width: 100%;
  border-radius: 16px;
}

.BannerSwiper .swiper-slide-active img {
  border-radius: 16px;
  height: 288px;
  width: 968px;
  object-fit: cover;
}

.card-home {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.card-home-title {
  margin: -15px 0 0 -10px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
}

.card-home-price {
  font-size: 20px;
  font-weight: 600;
  margin: 8px 0 0 -10px;
}

.sell-btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 30px;
  left: 45%;
}

.home-sell-btn {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  background: #7126b9;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 12px;
  transition: 200ms ease-in-out;
}

.home-sell-btn:hover {
  background: #7100e9;
  transition: 200ms ease-in-out;
}

.home-btn-shadow {
  position: fixed;
  width: 101px;
  height: 22px;
  bottom: -5px;
  left: 45%;
  background: #a06ece;
  filter: blur(30px);
}

.category {
  background-color: #e2d4f0;
  color: black;
  border-radius: 12px;
  padding: 14px 24px;
}

.ant-tag-checkable-checked {
  color: white;
  background-color: #7126b5;
}

.card-home-detail-btn {
  font-size: 13px;
  width: 200px;
  height: 35px;
  background: #7126b5;
  color: white;
  border: 1px solid #7126b5;
  border-radius: 4px;
  transition: 200ms ease-in-out;
}

.card-home-detail-btn:hover {
  background: #fff;
  color: black;
  border: 1px solid #7126b5;
  transition: 150ms ease-in-out;
}

.card-home-cart-btn {
  font-size: 12px;
  width: 50%;
  height: 35px;
  background: #7126b5;
  color: white;
  border: 1px solid #7126b5;
  border-radius: 4px;
  transition: 200ms ease-in-out;
}

.card-home-cart-btn:hover {
  background: #fff;
  color: black;
  border: 1px solid #7126b5;
  transition: 150ms ease-in-out;
}

@media (max-width: 430px) {
  .home-banners {
    padding-bottom: 25px !important;
  }
  .BannerSwiper {
    padding: 0 !important;
  }
  .BannerSwiper .swiper-slide img {
    width: 100vw !important;
    height: 100% !important;
    border-radius: 0 !important;
    object-fit: cover;
  }
  .BannerSwiper .swiper-slide-active img {
    border-radius: 0 !important;
  }
  .home-category {
    width: 100vw;
    /* display: flex; */
  }
  .category {
    /* display: flex; */
  }
}
