img {
  height: 100vh;
  width: 50vw;
}

.login-register-form {
  width: 452px;
  display: flex;
  flex-direction: column;
}

.login-register-form h1 {
  font-size: 24px;
  font-weight: 700;
}

.login-btn {
  align-items: center;
  width: 100%;
  height: 48px;
  background: #7126b5;
  color: white;
  border-radius: 16px;
  border-color: transparent;
  margin-top: 7px;
}

.input-login-register {
  height: 48px;
  border: 1px solid #d0d0d0;
  border-radius: 16px;
}

a {
  margin-left: 10px;
}

.product-background-text {
  position: absolute;
  top: 50%;
  margin-left: 3rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}

.login-logo {
  visibility: hidden;
}

@media (min-width: 2560px) {
  .login-register-form {
    width: 800px;
  }
  .input-login-register {
    height: 70px;
    border: 1px solid #d0d0d0;
    border-radius: 16px;
  }
  .login-register-form h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .login-register-form p {
    font-size: 24px;
  }
  .login-btn {
    height: 70px;
  }
}
@media (max-width: 768px) {
  .login-register-img {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .login-register-img {
    display: none;
  }
}
@media (max-width: 540px) {
  .login-register-img {
    display: none;
  }
}
@media (max-width: 430px) {
  .login-register-img {
    display: none;
  }
  .login-logo {
    visibility: visible;
    margin-bottom: 20px;
  }
}
