@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.search-bar .ant-input {
  padding: 0 12px !important;
  background-color: #eeeeee !important;
}

.history-modal .ant-modal-content {
  border-radius: 16px;
}

.ant-modal-header {
  border-radius: 16px 16px 0 0;
}
